footer {
    background-color: var(--cor1);
    border-style: solid hidden hidden hidden;
    border-color: var(--cor3);
    border-width: 5px;
    text-align: center;
    padding: 42.5px 0;
}

p {
    color: var(--corinput);
    margin: 0;
}